=for layout widget
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
  <title>Component UI Test Title</title>
  
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <link rel="stylesheet" type="text/css" href="/static/componentui-basic.css" />

</head>

<body>
  <div id="container">
    <div id="header">
     [% header %]
    </div>

    <div id="nav">
       [% menu %]
    </div>

    <div id="contents">
      <div id="wrapper">
        [% sidebar %]
        [% main_content %]
      </div>
      <div class="spacer"></div>
    </div>
  </div>
</body>

</html>

=for layout main_content

    [% content %]

=for layout header

<h1>Component UI Header</h1>

=for layout sidebar
        <div class="sidebar">
          [% content %]
        </div>

=for layout menu
        <ul class="menu">
          <li> <a href="/testmodel/foo">Foo</a> </li>
          <li> <a href="/testmodel/bar">Bar</a> </li>
          <li> <a href="/testmodel/baz">Baz</a> </li>
        </ul>
=cut