=extends grid_view

=for layout widget

[% pager %]

[% call_next %]

[% pager %]

[% actions %]

=for layout header_action_cell

<th colspan="[% col_count %]"> Actions </th>

=for layout header_cell_contents

<a href="[% order_uri %]">[% call_next %]</a>

=for layout actions
<div class="collection_actions">
<ul>
  [% call_next %]
</ul>
</div>

=for layout action
<li>[% call_next %]</li>

=for layout pager

<p>Pager would be here. But it isn't.</p>

=cut
