=extends field

=for layout field

<!-- We need a replacement for process_attrs -->
<select name="[% field_name %]" id="[% field_id %]">
  [% option_is_required %]
  [% option_list %]
</select>

=for layout option_is_required_yes

=for layout option_is_required_no

<option value="">--</option>

=for layout option

  <option value="[% option_value %]" [% option_is_selected %]
    > [% option_name %]</option>

=for options_is_selected_yes

selected="selected"

=for option_is_selected_no

=cut
