=extends NEXT

=for layout widget

[% label_fragment %]
[% message_fragment %]
[% field %]

=for layout action_buttons

<input type="submit" value="&gt;&gt;" name="[% event_id_add_all_values %]" />
<input type="submit" value="&gt;" name="[% event_id_do_add_values %]" />
<input type="submit" value="&lt;" name="[% event_id_do_remove_values %]" />
<input type="submit" value="&lt;&lt;" name="[% event_id_remove_all_values %]" />

=cut
