=extends NEXT

=for layout message

<!-- This conditional goes away when mst comes up with something better -->
[% content_str = GET content; %]
[% IF content_str.length; %]
  <span> [% content_str | html %] </span>
[% END %]

=cut
