=for layout widget

<fieldset class="field_container">
  [% maybe_label %]
  [% field_list  %]
</fieldset>

=for layout label

<legend> [% label %] </legend>

=for layout field

<div class="field_container_field">
  [% call_next %]
</div>

=cut
