=for layout widget

<tr>
  [% field_list %]
  [% actions    %]
<tr>

=for layout field_list

[% content %]

=for layout field

<td>[% content %]</td>

=for layout actions

[% content %]

=for layout action

<td>[% content %]</td>


=cut
